$textcolor: #fff;
$colorlist: #333 #0ff #f0f;

body {
	background: #000;
}

h1 {
	color: $textcolor;
}

label {
	color: $textcolor;
}

span {
	color: $textcolor;
}

.board {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.player {
	width: 6rem;
	border-style: solid;
	border-color: #000;
	border-width: 0.2rem;
}

.player-s {
	width: 6rem;
	border-style: solid;
	border-color: #fff #000 #000 #000;
	border-width: 0.2rem;
}

.id {
	text-align: center;
	font-size: 2rem;
	line-height: 6rem;
	color: $textcolor;
}

.name {
	-webkit-writing-mode: vertical-rl;
	font-size: 4rem;
	line-height: 6rem;
	height: 20rem;
	color: $textcolor;
}

@each $type in 0,1,2 {
	.right-#{$type} {
		width: 6rem;
		height: 6rem;
		text-align: center;
		font-size: 4rem;
		background-color: nth($colorlist,$type+1);
		color: #000;
		border-radius: 3rem 3rem 3rem 3rem;
		line-height: 6rem;
	}
}

.misses {
	font-size: 2rem;
	text-align: center;
	color: $textcolor;
	line-height: 6rem;
}