<!DOCTYPE html>
<html ng-app="seventhree">
<head>
	<title>7○3×クイズ	</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<script type="application/javascript" src="js/libs/angular.min.js"></script>
	<script type="application/javascript" src="js/Main.js"></script>
</head>
<body ng-controller="fieldcontroller" ng-keydown="onKeyDown($event)">
	<div>
		<h1>7○3×クイズ</h1>
	</div>
	<div ng-show="mode === 0">
		<form>
			<label>
				input:
				<textarea ng-model="inputText"></textarea>
			</label>
			<button ng-click="addMemberTemporally()">add a member</button>
			<button ng-click="mode = 1">
				Playing mode
			</button>
		</form>
		<p ng-repeat="member in tempMems">
			<span>{{member.id}}</span>
			<span>{{member.name}}</span>
		</p>
		<form>
			<button ng-click="confirmMembers()">
				confirm Members
			</button>
			<button ng-click="tempMems = []">
				delete all Members
			</button>
		</form>
	</div>
	<div ng-show="mode === 1">
		<form>
			<button ng-click="mode = 0">Input Mode</button>
		</form>
		<div class="board">
			<div ng-class="(member.isSelected) ? 'player-s' : 'player'" ng-repeat="member in memberList" ng-click="toggleSelected(member)">
				<div class="id">{{member.id}}</div>
				<div class="name">{{member.name}}</div>
				<div class="right-{{member.getState()}}">{{member.getState() == State.Lose ? "×" : member.getRight()}}</div>
				<div class="misses">{{member.getMisses()}}×</div>
			</div>
		</div>
	</div>
</body>
</html>